body {
  margin-bottom: 5vh;

  h1,
  h2,
  h3 {
    color: green;
    font-family: Anton;
    text-align: center;
  }

  h1 {
    text-transform: uppercase;
    margin: 2vh 0;
  }

  h3 {
    font-size: 14px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
}
