<body>
  <app-solutions></app-solutions>
  <section>
    <h1 class="indent">all the way</h1>
    <p class="indent">
      Caution is a virtue. But sometimes an idea comes along. So precious that
      you can do nothing but follow and give it all you got. See the impact of
      Evergreen Line going all the way.
    </p>
    <a routerLink="404" routerLinkActive="active">
      <button class="indent">learn more</button>
    </a>
  </section>
  <section>
    <h1 class="indent">browse our network</h1>
    <p class="indent">
      We carry millions of tons of cargo every single day. Our vast network
      covers over 300 ports in more than 120 countries, giving you a fast,
      reliable and regular connection to all corners of the globe.
    </p>
    <a routerLink="404" routerLinkActive="active">
      <button class="indent">browse network</button>
    </a>
  </section>
</body>
