<section id="solutions">
  <h1 class="indent">solutions</h1>
  <p class="indent">
    From the farm to your refrigerator, or the factory to your wardrobe,
    Evergreen Line is developing solutions that meet customer needs from one end
    of the supply chain to the other.
  </p>
  <ul class="indent">
    <li>
      <div>
        <a routerLink="404" routerLinkActive="active">
          <img
            src="https://www.maersk.com/~/media_sc9/maersk/solutions/shipping-and-cargo-services/images/solutions-shipping-and-cargo-services-720x405_v2.jpg?w=1000&hash=BADF042EC4E5CA1755429A1E4F1D6BF18630A169"
            alt=""
          />
          <h3>shipping cargo services</h3>
        </a>
      </div>
    </li>

    <li>
      <div>
        <a routerLink="404" routerLinkActive="active">
          <img
            src="https://www.maersk.com/~/media_sc9/maersk/solutions/supply-chain-services/images/solutions-supply-chain-services-720x405_v2.jpg?w=1000&hash=B23C79B0A41955705DD2E453A639ABFAA69306F9"
            alt=""
          />
          <h3>
            supply chain <br />
            services
          </h3>
        </a>
      </div>
    </li>

    <li>
      <div>
        <a routerLink="404" routerLinkActive="active">
          <img
            src="https://www.maersk.com/~/media_sc9/maersk/solutions/freight-forwarding/images/solutions-freight-forwarding-720x405_v2.jpg?w=1000&hash=19632C79282A927976F445B5AFEC365687F3EFEE"
            alt=""
          />

          <h3>freight<br />forwarding</h3>
        </a>
      </div>
    </li>
  </ul>
</section>
